name: CD - Deploy to Kubernetes

on:
  workflow_run:
    workflows: ["CI Build & Push Docker"]
    types: ["completed"]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set vars
        id: vars
        shell: pwsh
        run: |
          $TAG_SHA = ($env:GITHUB_SHA -or $env:GITHUB_EVENT_WORKFLOW_RUN_HEAD_SHA).Substring(0, 7)
          $NAMESPACE = $env:secrets_K8S_NAMESPACE -or "default"
          echo "IMAGE=adalbertooo/monitor" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          echo "TAG_SHA=$TAG_SHA" | Out-File -FilePath $env:GITHUB_OUTPUT -Append
          echo "NAMESPACE=$NAMESPACE" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Configure kubeconfig
        shell: pwsh
        run: |
          $KUBE_DIR = "$HOME\.kube"
          New-Item -ItemType Directory -Force -Path $KUBE_DIR
          $KUBE_CONFIG_DATA = "${{ secrets.KUBE_CONFIG_DATA }}"
          [System.Text.Encoding]::UTF8.GetString(
            [System.Convert]::FromBase64String($KUBE_CONFIG_DATA)
          ) | Out-File -FilePath "$KUBE_DIR\config"

      - name: Create namespace if not exists
        shell: pwsh
        run: |
          kubectl get ns ${{ steps.vars.outputs.NAMESPACE }} -ErrorAction SilentlyContinue
          if ($LASTEXITCODE -ne 0) {
            Write-Host "Namespace nao encontrado, criando..."
            kubectl create ns ${{ steps.vars.outputs.NAMESPACE }}
          } else {
            Write-Host "Namespace ja existe."
          }

      - name: Apply base manifests
        shell: pwsh
        run: |
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/service.yaml
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/prometheus-deployment.yaml
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/grafana-deployment.yaml
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/nginx-deployment.yaml
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/nginx-service.yaml
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/prometheus-config.yaml

      - name: Apply app deployment
        shell: pwsh
        run: |
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/deployment.yaml

      - name: Set image to new tag
        shell: pwsh
        run: |
          kubectl set image deployment/monitor monitor=${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }} -n ${{ steps.vars.outputs.NAMESPACE }}

      - name: Wait rollout
        shell: pwsh
        run: |
          kubectl rollout status deployment/monitor -n ${{ steps.vars.outputs.NAMESPACE }} --timeout=120s
