# Caminho: .github/workflows/cd.yml
name: CD - Deploy to Kubernetes
on:
  workflow_run:
    workflows: ["CI Build & Push Docker"]
    types: [ "completed" ]

permissions:
  contents: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set vars
        id: vars
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          echo "IMAGE=adalbertooo/monitor" >> $GITHUB_OUTPUT
          echo "TAG_SHA=${{ github.event.workflow_run.head_sha || github.sha }}::7" >> $GITHUB_OUTPUT
          echo "NAMESPACE=${{ secrets.K8S_NAMESPACE || 'default'}}" >> $GITHUB_OUTPUT

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubeconfig
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config

      - name: Create namespace if not exists
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          kubectl get ns ${{ steps.vars.outputs.NAMESPACE }} || \
          kubectl create ns ${{ steps.vars.outputs.NAMESPACE }}

      - name: Apply base manifests (Service, Prometheus, Grafana, Nginx)
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/service.yaml || true
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/prometheus-deployment.yaml || true
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/grafana-deployment.yaml || true
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/nginx-deployment.yaml || true
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/nginx-service.yaml || true
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/prometheus-config.yaml || true

      - name: Apply app deployment (first time)
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          kubectl apply -n ${{ steps.vars.outputs.NAMESPACE }} -f k8s/deployment.yaml

      - name: Set image to new tag
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          kubectl set image deployment/monitor monitor=${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }} -n ${{ steps.vars.outputs.NAMESPACE }}

      - name: Wait rollout
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          kubectl rollout status deployment/monitor -n ${{ steps.vars.outputs.NAMESPACE }} --timeout=120s