name: CD

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar kubectl
        shell: pwsh
        run: |
          mkdir $HOME\.kube -Force
          $decoded = [System.Text.Encoding]::UTF8.GetString([Convert]::FromBase64String("${{ secrets.KUBE_CONFIG_BASE64 }}"))
          Set-Content -Path "$HOME\.kube\config" -Value $decoded -Encoding UTF8

      - name: Gerar TAG
        shell: pwsh
        run: |
          if ($env:GITHUB_EVENT_WORKFLOW_RUN_HEAD_SHA) {
            $TAG_SHA = $env:GITHUB_EVENT_WORKFLOW_RUN_HEAD_SHA.Substring(0,7)
          } else {
            $TAG_SHA = $env:GITHUB_SHA.Substring(0,7)
          }
          echo "TAG_SHA=$TAG_SHA" >> $env:GITHUB_ENV

      - name: Criar namespace se não existir
        shell: pwsh
        run: |
          $ns = "default"
          $exists = kubectl get ns $ns --ignore-not-found
          if (-not $exists) {
            Write-Host "Namespace nao encontrado, criando..."
            kubectl create ns $ns
          } else {
            Write-Host "Namespace já existe."
          }

      - name: Aplicar deployment
        shell: pwsh
        run: |
          kubectl apply -f k8s/deployment.yaml --namespace default

      - name: Aplicar service
        shell: pwsh
        run: |
          kubectl apply -f k8s/service.yaml --namespace default

      - name: Aplicar ingress
        shell: pwsh
        run: |
          kubectl apply -f k8s/ingress.yaml --namespace default
