# Caminho: .github/workflows/ci.yml
name: CI Build & Push Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  ci:
    runs-on: self-hosted
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          if [ -f package-lock.json ]; then
            npm ci
          else
            npm install
          fi

      - name: Run tests (se tiver)
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          if npm run | grep -q " test"; then
            npm test
          else
            echo "Sem script de teste. Pulando etapa."
          fi

      - name: Set image tags
        id: vars
        # CORREÇÃO: Apontando o caminho EXATO do Git Bash
        shell: "C:\Program Files\Git\bin\bash.exe"
        run: |
          echo "IMAGE=adalbertooo/monitor" >> $GITHUB_OUTPUT
          echo "TAG_SHA=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: |
            ${{ steps.vars.outputs.IMAGE }}:latest
            ${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }}
          cache-from: type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache-ci
          cache-to: type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache-ci,mode=max